.env
*__pycache__*
*scratch*
*relevance_assessment*
palimpzest/*
paper_workloads/contracts/full_contract_txt*
paper_workloads/contracts/sample_contract_txt*
*.xlsx
*.csv
paper_workloads/*
preprint_workloads/*
*mypy_cache*
*.DS_Store
*pytest_cache*
*ruff_cache*