agenticpreprint/**/*.json filter=lfs diff=lfs merge=lfs -text
**/*intermediate*/**/*.json !filter !diff !merge text
agenticpreprint/biodex/results/lotus_output.csv filter=lfs diff=lfs merge=lfs -text
