site_name: docetl docs
site_url: https://docetl.com/
# use_directory_urls: false
# strict: true
# docs_dir: docs
# site_dir: public/docs

# extra:
#   docs_url: /docs

repo_url: https://github.com/shreyashankar/docetl
repo_name: shreyashankar/docetl
remote_branch: gh-pages
nav:
  - Home:
      - What is DocETL?: index.md
      - Getting started:
          - Installation: installation.md
          - Tutorial: tutorial.md
      - Core Concepts:
          - Operators: concepts/operators.md
          - Schemas: concepts/schemas.md
          - Pipelines: concepts/pipelines.md
          - Optimization: concepts/optimization.md
      - LLM-Powered Operators:
          - Map: operators/map.md
          - Resolve: operators/resolve.md
          - Reduce: operators/reduce.md
          - Parallel Map: operators/parallel-map.md
          - Filter: operators/filter.md
          - Equijoin: operators/equijoin.md
      - Auxiliary Operators:
          - Split: operators/split.md
          - Gather: operators/gather.md
          - Unnest: operators/unnest.md
      - Execution:
          - Running Pipelines: execution/running-pipelines.md
          - Optimizing Pipelines: execution/optimizing-pipelines.md
      # - Advanced Usage:
      #     - User-Defined Functions: advanced/custom-operators.md
      #     - Extending Optimizer Agents: advanced/extending-agents.md
      #     - Performance Tuning: advanced/performance-tuning.md
  - API Reference:
      - docetl: api-reference/docetl.md
      - docetl.cli: api-reference/cli.md
      - docetl.operations: api-reference/operations.md
      - docetl.optimizers: api-reference/optimizers.md
  - Examples:
      - Reporting on Themes from Presidential Debates: examples/presidential-debate-themes.md
      - Mining Product Reviews for Polarizing Features: examples/mining-product-reviews.md
      # - Annotating Legal Documents: examples/annotating-legal-documents.md
      # - Characterizing Troll Behavior on Wikipedia: examples/characterizing-troll-behavior.md
  - Roadmap & Community: community.md

theme:
  name: material
  icon:
    logo: fontawesome/solid/scroll
    repo: fontawesome/brands/git-alt
  favicon: assets/docetl-favicon-color.png
  extra_files:
    - assets/
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      primary: "#003262" # Berkeley Blue
      accent: "#FDB515" # California Gold
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      primary: "#003262" # Berkeley Blue
      accent: "#FDB515" # California Gold
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: "#003262" # Berkeley Blue
      accent: "#FDB515" # California Gold
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  font:
    text: Inter
    code: Source Code Pro

  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.tracking
    - navigation.expand
    - navigation.path
    - navigation.prune
    - navigation.indexes
    - navigation.top
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - toc.follow
    - navigation.footer
    # - toc.integrate
    - content.code.copy
    - content.code.annotate

plugins:
  - search
  - mkdocstrings
  - autorefs
  - glightbox

markdown_extensions:
  - abbr
  - admonition
  - def_list
  - footnotes
  - md_in_html
  - tables
  - pymdownx.snippets
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.details
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
