[tool.poetry]
name = "docetl"
version = "0.1.1"
description = "ETL with LLM operations."
authors = ["Shreya Shankar <shreyashankar@berkeley.edu>"]
license = "MIT"
readme = "README.md"
packages = [
    { include = "docetl" }
]
[tool.poetry.scripts]
docetl = "docetl.cli:app"

[tool.poetry.dependencies]
python = "^3.10"
litellm = "^1.42.1"
tqdm = "^4.66.4"
rich = "^13.7.1"
tenacity = "^9.0.0"
frozendict = "^2.4.4"
scikit-learn = "^1.5.1"
diskcache = "^5.6.3"
textual = "^0.79.1"

[tool.poetry.group.dev.dependencies]
pytest = "^8.3.2"
python-dotenv = "^1.0.1"
ruff = "^0.6.1"
mypy = "^1.11.1"
pre-commit = "^3.8.0"
mkdocs = "^1.6.1"
mkdocs-material = "^9.5.34"
mkdocstrings = "^0.26.1"
linkchecker = "^10.5.0"
pytkdocs = "^0.16.2"
mkdocstrings-python = "^1.11.1"
mkdocs-glightbox = "^0.4.0"

[tool.pytest.ini_options]
testpaths = ["tests"]
addopts = "--basetemp=/tmp/pytest"
filterwarnings = [
    "ignore::DeprecationWarning",
    "ignore::UserWarning",
    "ignore::RuntimeWarning"
]

[tool.mypy]
files = "docetl"
mypy_path = "docetl"
warn_return_any = true
warn_unused_configs = true
disallow_untyped_defs = true
exclude = ['docetl/tests*']
ignore_missing_imports = true
show_error_codes = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
